.title {
  color: #014691;
  font-weight: bold;
}
.form-select {
  border: 1.8px solid #014691;
  &:focus {
    outline: none;
    box-shadow: none;
    border: 1.8px solid #014691;
  }
}
.form-control {
  border: 1.8px solid #014691;
  &:focus {
    outline: none;
    box-shadow: none;
    border: 1.8px solid #014691;
  }
}